{% extends 'base.html' %} {% block content %} {% load static %}
<!-- {%csrf_token %} -->
<!-- <div>
  <hr class="my-2" />
  <ul id="nav4" class="nav justify-content-between bg-light">
    <li class="nav-item">
      <a class="nav-link active" href="detail_algorithm/">알고리즘</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="detail_one/">닭/오리요리</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_two/">별식/퓨전요리</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_three/">부페</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_four/">분식</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_five/">양식</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_six/">일식/수산물</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_seven/">제과제빵떡케익</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_eight/">중식</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_nine/">커피점/카페</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_ten/">패스트푸드</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_eleven/">한식</a>
    </li>
  </ul>
</div> -->
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
  <a href="detail_algorithm/" class="thumbnail"
    ><div class="category-title">알고리즘</div>
    <img src="/static/image/category-09.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
  <a href="detail_one/" class="thumbnail"
    ><div class="category-title">닭오리요리</div>
    <img src="/static/image/category-12.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
  <a href="detail_two/" class="thumbnail"
    ><div class="category-title">별식/퓨전요리</div>
    <img src="/static/image/category-06.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  <a href="detail_three/" class="thumbnail"
    ><div class="category-title">부페</div>
    <img src="/static/image/category-07.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  <a href="detail_four/" class="thumbnail" 
    ><div class="category-title">분식</div>
    <img src="/static/image/category-05.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  <a href="detail_five/" class="thumbnail" 
    ><div class="category-title">양식</div>
    <img src="/static/image/category-11.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  <a href="detail_six/" class="thumbnail" 
    ><div class="category-title">일식/수산물</div>
    <img src="/static/image/category-08.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  <a href="detail_seven/" class="thumbnail" 
    ><div class="category-title">제과제빵떡케익</div>
    <img src="/static/image/category-04.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  <a href="detail_eight/" class="thumbnail" 
    ><div class="category-title">중식</div>
    <img src="/static/image/category-10.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  <a href="detail_nine/" class="thumbnail" 
    ><div class="category-title">커피점/카페</div>
    <img src="/static/image/category-03.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  <a href="detail_ten/" class="thumbnail" 
    ><div class="category-title">패스트푸드</div>
    <img src="/static/image/category-02.jpeg"
  /></a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3">
  <a href="detail_eleven/" class="thumbnail"
    ><div class="category-title">한식</div>
    <img src="/static/image/category-01.jpeg"
  /></a>
</div>

{% endblock %}
