<div>
  <hr class="my-2" />
  <ul id="nav4" class="nav justify-content-between bg-light">
    <li class="nav-item">
      <a class="nav-link active" href="detail_algorithm/">알고리즘</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="detail_one/">닭/오리요리</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_two/">별식/퓨전요리</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_three/">부페</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_four/">분식</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_five/">양식</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_six/">일식/수산물</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_seven/">제과제빵떡케익</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_eight/">중식</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_nine/">커피점/카페</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_ten/">패스트푸드</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="detail_eleven/">한식</a>
    </li>
  </ul>
</div>